---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting.jsx';
const pageTitle = "首页";
---
<BaseLayout pageTitle={pageTitle}>
  <Greeting messages={["Hi", "Hello", "Howdy", "Hey there"]} client:load />
  <h2>My awesome blog subtitle</h2>
</BaseLayout>